.carousel-inner img {
    width: 100%;
    height: 100%;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #efebeaff;
}
.main-content{
    margin: 0;
    background-color: white;
    padding-bottom: 25px;
    border-top: #efebeaff solid 10px;
    border-left: #efebeaff solid 10px;
    border-right: #efebeaff solid 20px;
    border-radius: 5px 5px 5px 5px;
}

.menu-lateral{
    font-size: 14px;
    background-color: #efebeaff;
}

.sub-menu-lateral{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 5px 5px 5px;
    background-color: white;
}

.content{ /*Caixas do menu lateral + Conteúdo principal lado direito*/
   margin-top: 70px;
   margin-bottom: 40px;
}

.logo{ /*Faixa frontal com logotipo*/
    position: absolute;
    background-color: white;
    height: 100px;
    width: 83%;
    top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px 5px 5px 5px;
}

.jumbotron{ /*Faixa de cima que fica por trás*/
    position: relative;
    height: 80px;
    padding: 0;
    background-color: #7b8c86ff;
    text-align: center;
    margin-bottom:0;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-footer{
    background-color: #7b8c86ff;
    padding: 50px;
    text-align: center;
    margin-bottom:0;
    border-radius: 0;
}

.nav-link {
    color:#7b8c86ff;
}

.nav-link:hover{
    color:white;
    background-color: #9dbfaeff;
}

}
.nav-link:active{
    color:#7b8c86ff;
    background-color: #9dbfaeff;
}

