
body{
    background-color: #9d7f87ff;
    background-color: #f2d7d0ff;
    background-color: #efebeaff;
    background-color: #7b8c86ff;
    background-color: #9dbfaeff;
    background-color: #f9f4f8ff;
}

